.menu {
	width: 320px;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.menu .option {
	padding: 5px 15px;
	cursor: pointer;
	color: #666;
	transition: .12s ease-in-out;
	border-bottom: 1px solid #bbb;
}
.menu .option:hover {
	color: #333;
}
.menu .option .title {
	font-size: 18px;
	font-weight: 500;
	padding-left: 15px;
}
.menu .option.dropdown {
	position: relative;
	transition: .12s ease-in-out;
}
.menu .option.dropdown:hover:before {
	border-left: 8px solid #333;
}
.menu .option.dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 13px;
	display: block;
	border-top: 5px solid transparent;
	border-left: 8px solid #666;
	border-bottom: 5px solid transparent;
}