@import "fonts.css";
@import "parallax.css";
@import "bootstrap.css";

body {
	margin: 0;
	background: #6ab0da;
	overflow: hidden;
}
#content {
	width: 100%;
	position: relative;
	height: 1000px;
	background: #c7d8da;
	//top: -5px;
}