@import "fonts.css";
@import "parallax.css";
@import "bootstrap.css";

body {
	background: linear-gradient(35deg, #050b19, #081518);
	margin: 0;
	overflow: hidden;
}
.images .parallax {
	position: absolute;
}
#content {
	background: #c7f0fd;
	width: 100%;
	height: 1000px;
	z-index: 2;
	position: relative;
}
.bubble_button {
	font-weight: 600;
}